:root{
    --cor-fundo: #ffffff ;
    --cor-principal: #000000e5 ;
    --cor-secundaria: #00db63ef; 
    --cor-destaque: #ffffff;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/1920-x-1080-nature-desktop-642gbutjn948dmei.jpg);
}

.caixa-principal{
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-texto);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}